# =========================
# Node.js
# =========================
app/node_modules/

# Environment
.env
.env.*

# =========================
# Terraform
# =========================
**/.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
*.tfplan
tfplan

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Logs
# =========================
*.log

# =========================
# OS
# =========================
.DS_Store
Thumbs.db